.container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login {
  text-align: center;
  width: 30%;
  height: auto;
  background-color: #2c2638;
  border-radius: 20px;
  display: block;
  padding: 25px;
  color: #fff;
}

.login-form-title {
  font-size: 32px;
  font-weight: 400;
}

.form-group,
.wrap-input,
.input-field {
  width: 100%;
}

.form-group {
  padding-top: 12px;
}

.input-field,
.login-btn {
  height: 36px;
  border: none;
  border-radius: 6px;
  padding-inline: 8px;
  outline: none;
  color: #fff;
  font-size: 14px;
}

.input-field {
  background-color: #3c364c;
}

.login-btn {
  width: 100%;
  margin-top: 24px;
  background-color: #577390;
}

.login-btn:hover {
  width: 90%;
  height: 30px;
  color: #000;
  background-color: #fff;
  transition: width height;
  transition-duration: 500ms;
}
